@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar {
  height: 90px;
  background-color: rgb(46, 41, 41);
  border-bottom: 5px solid white;
  li {
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline;
    padding: 10px;
    margin-right: 25px;
    font-size: larger;
    font-family: "Times New Roman", Times, serif;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

img {
  margin-left: 20rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
}

p {
  font-size: 3rem;
  text-align: center;
}
.paragraph {
  font-size: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button {
  margin-left: 35rem;
  margin-bottom: 3rem;
  width: 30rem;
  a {
    color: white;
    text-decoration: none;
  }
}
