/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: rgb(46, 41, 41);
}

.navbar {
  height: 90px;
  background-color: rgb(46, 41, 41);
  border-bottom: 5px solid white;
  li {
    text-decoration: none;
    color: white;
    list-style: none;
    display: inline;
    padding: 10px;
    margin-right: 25px;
    font-size: larger;
    font-family: "Times New Roman", Times, serif;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: left;
  justify-content: left;
  img {
    width: 20rem;
    max-height: 100%;
  }
  h2 {
    text-align: left;
    padding-top: 40px;
    color: white;
  }
  p {
    color: white;
  }
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.info {
  margin: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  background-color: rgb(46, 41, 41);
  li {
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 80px;
  }
  img {
    margin-right: 10px;
  }

  div {
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: red;
    }

    border-top: 15px solid rgb(46, 41, 41);
    font-weight: 800;
    .quality {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-180%, 200%);
    }
    .service {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-70%, 200%);
    }
    .integrity {
      position: absolute;
      top: 50%;
      right: -10%;
      transform: translate(-70%, 200%);
    }
    padding-bottom: 10px;
  }
}
